body {
    background: linear-gradient(110.2deg, rgb(54, 197, 240) 8.2%, rgb(74, 21, 75) 92.4%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

#title {
    margin-left: 20px;
    font-family: Candara;
    font-style: italic;
}

.navbar {
    margin-left: auto;
    color: #d5e9f0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.navbar ul li a {
    color: #333;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inloggen {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

.input-field {
    background: #f2f2f2;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#errorMessage {
    color: red;
    margin-bottom: 30px;
    text-align: center;
}

button {
    background: #113f67;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button a {
    color: #fff;
    text-decoration: none;
}

footer {
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
}
