.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: steelblue;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}

.inloggen {
    width: 200px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
}

.input-field {
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

p {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
}

#loginButton {
    margin: 20px;
    text-align: center;
    font-size: 2px;
}

#loginForm {
    text-align: center;
}

span {
    margin: 20px;
}

#registreerButton {
    margin: 20px;
    text-align: center;
}