body {
    background: #1B2845;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #E7ECEF;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
}

#title {
    margin-left: 15px;
    font-family: ruda black;
    color: #1B2845;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.navbar {
    margin-left: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
    padding: 10px;
}

.navbar ul li a {
    color: #1B2845;
    text-decoration: none;
    font-weight: bolder;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
}

.sneaker-details {
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    max-width: 90%;
    padding: 20px;
    display: flex;
}

.sneaker-img {
    display: flex;
    align-items: center;
}

.img-wrapper {
    display: flex;
    border: 3px solid #5C7AFF;
    border-radius: 10px;
    padding: 5px;
    margin-right: 20px;
}

#sneaker-image {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
}

.sneaker-info {
    flex-grow: 1;
}

#sneaker-title {
    margin-bottom: 10px;
    text-align: center;
}

#sneaker-beschrijving,
#sneaker-merk,
#sneaker-kleur,
#sneaker-maat {
    text-align: center;
}

#sneaker-voorraad {
    text-align: center;
}

#sneaker-prijs {
    margin-bottom: 10px;
    text-align: center;
}

#order-button {
    display: block;
    margin: 0 auto;
    background: #5C7AFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#order-button:hover {
    background-color: #4A8FE7;
}

footer {
    background: #E7ECEF;
    padding: 20px;
    text-align: center;
}
