.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: steelblue;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

header {
    margin-bottom: 20px;
}

.sneaker-product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sneaker-image {
    width: 40%;
}

.sneaker-details {
    width: 55%;
}

.sneaker-details h2 {
    margin-top: 0;
}

.sneaker-details p {
    margin-bottom: 10px;
}

.sneaker-details button {
    margin-top: 20px;
}