body {
    background: #1B2845;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #E7ECEF;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
}

#title {
    margin-left: 15px;
    font-family: ruda black;
    color: #1B2845;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.navbar {
    margin-left: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
    padding: 10px;
}

.navbar ul li a {
    color: #1B2845;
    text-decoration: none;
    font-weight: bolder;
}

main {
    padding: 10px;
    height: 61vh;
}

h2 {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: #f2f2f2;
    max-width: fit-content;
    font-size: 35px;
    padding: 2px;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box {
    max-width: 150px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 5px;
}

.box a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: #1B2845;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

.box a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #1B2845;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s;
}

.box a:hover:before {
    transform: scaleX(1);
}

.info {
    position: relative;
    bottom: 100px;
}

.bestellingBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestellingDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sneakerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: #f2f2f2;
    font-size: 15px;
    margin: 5px;
}


footer {
    background: #E7ECEF;
    padding: 20px;
    text-align: center;
}